{% extends "dashboard_base.html" %}

{% block navbar %}
    {% include 'dashboard_navbar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard_footer.html' %}
{% endblock %}

{% block body %}

<div class="container">
    <h2 align="center">Reset your password</h2>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form align="center" action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
        </form>
    {% else %}
        <p align="center">The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
</div>

{% endblock %}
