{% extends "dashboard_base.html" %}

{% block navbar %}
    {% include 'dashboard_navbar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard_footer.html' %}
{% endblock %}

{% block body %}

<div class="container">
    <h2 align="center">Change your password</h2>
    <form class="form-signin" action="." method="post" novalidate>
        <p>Use the form below to change your password.</p>
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
        <!--<p><input type="submit" value="Change"></p>-->
    </form>
</div>

{% endblock %}
