{% extends "dashboard_base.html" %}

{% block navbar %}
    {% include 'dashboard_navbar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard_footer.html' %}
{% endblock %}

{% block body %}

<div class="container">
<h2 align="center">Forgotten your password?</h2>
    <form class="form-signin" action="." method="post" novalidate>
    <p>Enter your e-mail address to obtain a new password.</p>
    {{ form.as_p }}
    {% csrf_token %}
    <!--<p align="center"><input type="submit" value="Send e-mail"></p>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send e-mail</button>
    </form>
</div>

{% endblock %}
