<div class="col-sm-3 col-md-2 sidebar">
    <ul id="id_side_ul_navbar" class="nav nav-sidebar">
      <li id="side_record"><a href="/smartdns/record/">Record</a></li>
      <li id="side_zone"><a href="/smartdns/zone/">Zone</a></li>
      <li id="side_view"><a href="/smartdns/view/">View</a></li>
    </ul>
    <ul id="id_side_ul_navbar" class="nav nav-sidebar">
      <li id="side_cluster"><a href="/smartdns/cluster/">Cluster</a></li>
      <li id="side_server"><a href="/smartdns/server/">Server</a></li>
    </ul>
    <ul id="id_side_ul_navbar" class="nav nav-sidebar">
      <li id="side_audit"><a href="/smartdns/audit/">Audit</a></li>
      <li id="side_help"><a href="/smartdns/help/">Help</a></li>
    </ul>
</div>
